{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Vehicle Inventory Management - {% if action_type == 'create' %}Create{% else %}Edit{% endif %}{% endblock title %}
{% block page_title %}{% if action_type == 'create' %}Create Vechicle{% else %}Edit Vechicle{% endif %}{% endblock page_title %}

{% block css %}
    <style>
        .asteriskField {
            color: red;
        }
        #vechicle-type option:first-child {
            display: none;
        }
    </style>
{% endblock css %}

{% block content %}
    <div class="col-md-6">
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {{form.errors}}
            </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">{% if action_type == 'create' %}Create{% else %}Update{% endif %}</button>
        </form>
    </div>
{% endblock content %}

{% block js %}
{% endblock js %}